#meme-container {
    max-width: 120ch;
    margin: 0 auto;

    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1lh;
    grid-column-gap: 4ch;

    grid-template-rows: max-content;
    grid-auto-rows: 450px;

    grid-template-columns: repeat(auto-fill, 350px);

    h2 {
        grid-column: 1 / -1;
    }
}

@scope (.meme-card) {
    & {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }

    & figure {
        margin: 0;
        flex: 1 1 max-content;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    & img {
        max-width: 100%;
        max-height: 100%;

        object-fit: contain;
    }

    & footer {
        flex: 0 0 max-content;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
