.caption-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 36px;
    width: 100ch;
    height: 80vh;

    anchor-scope: all;

    > .preview {
        flex: 1 1 50%;
        position: relative;

        > img {
            anchor-name: --template;

            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }

        > svg {
            position: absolute;
            position-anchor: --template;
            position-area: span-all;

            width: anchor-size();
            height: anchor-size();
        }
    }

    > .controls {
        flex: 1 1 auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 8px;
    }
}
