:root {
    --color-app-background: light-dark(#f5f5f5, #121212);

    --color-on-primary: light-dark(#1e1e1e, #ebebeb);
    --color-surface-primary: light-dark(#ebebeb, #1e1e1e);

    --color-on-secondary: light-dark(#242424, #d6d6d6);
    --color-surface-secondary: light-dark(#d6d6d6, #242424);

    --color-brand: light-dark(#4dabf7, #e03131);
}

a {
    appearance: none;

    margin-inline: -4px;
    padding-inline: 4px;
    border-radius: 8px;

    color: var(--color-brand);

    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
    &:focus-visible {
        outline: 1px solid var(--color-brand);
        outline-offset: 2px;
    }
}

button {
    appearance: none;

    margin: 0;
    padding: 4px 6px;

    background: var(--color-surface-secondary);
    color: var(--color-on-secondary);

    border: 1px solid var(--color-on-secondary);
    border-radius: 4px;

    text-transform: uppercase;
    font-weight: bold;

    &.primary {
        background: var(--color-brand);
        color: var(--color-on-primary);
    }

    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 0.75;
    }

    &:focus-visible {
        outline: 1px solid var(--color-brand);
        outline-offset: 2px;
    }
}

.card {
    margin-block: .25lh;
    padding: 8px 12px;

    border: none;
    border-radius: 8px;

    background: var(--color-surface-secondary);
    color: var(--color-on-secondary);
    box-shadow: 1px 1px 8px var(--color-surface-secondary);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    & > .small {
        margin-block: 0.1lh;
    }

    & > * {
        margin-block: 0.25lh;
    }
}
